.box-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .box {
    z-index: 1;
    padding: 3rem;
    background: radial-gradient(circle, rgba(51, 51, 51, 1) 0%, rgba(29,19,19, 1) 100%);

  }

}
.container {
  display: flex;
  justify-content: center;
  margin: 1rem auto ;
  padding: 1rem;
  color: #fff;
  .btn {
    background-color: red;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 200px;
    height: 60px;
    &:hover{
      background: transparent;
      border: 2px solid red;
      transform: scale(1.1);
      transition: 200ms;
      color: #fff;
    }
  }
}